body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-color {
    color: #ce9797;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}
.text-center {
    text-align: center;
}

@media  (min-width: 29em) { /* 464px */
    .wrapper {
        max-width: 28em;
    }
}

@media  (min-width: 64em) { /* 1024px */
    .wrapper {
        max-width: 64em;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 5rem auto;
    }
}

@media  (min-width: 90em) { /* 1440px */

    .wrapper {
        max-width: 90rem;
        background-image: url('../images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
    }
}